* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
@font-face {
  font-family: Avenir;
  src: url(./assets/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: Trap;
  src: url(./assets/Trap-Black\ 900.otf);
}

.logo {
  background: white;
  width: 100vw;
  height: 20vh;
  border-bottom: 5px solid black;
  text-align: left;
  position: relative;
}

.logo img {
  width: 6rem;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(10%, -50%);
}

.header {
  padding-left: 10%;
  padding-right: 10%;
  height: 55rem;
}

.header h3 {
  padding-top: 3rem;
  font-size: 38px;
  font-weight: 900;
  line-height: 54px;
  letter-spacing: -0.04em;
  color: rgba(200, 86, 60, 1);
  font-family: Avenir;
}

.header p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.04em;
}

.header button {
  height: 60px;
  width: 297px;
  font-size: 20px;
  top: 200px;
  border-radius: 8px;
  border: 1px solid #c8563c;
  background: #c8563c;
  font-family: Trap;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0em;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: #ffffff;
}

.number {
  font-family: Trap;
  font-size: 36px;
  font-weight: 900;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(200, 86, 60, 1);
}
.footer {
  height: 35vh;
  background: #1e1e1e;
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
  position: relative;
  transform: scaleY(1);
  bottom: 0;
  align-items: center;
}

.vastimage {
  position: absolute;
  right: 0rem;
  z-index: -1;
}
.vast img {
  overflow-x: hidden;

  width: 5rem;
  margin-top: 3rem;
}
.vast p {
  color: grey;
  width: 15rem;
  text-align: center;
  line-height: 25px;
  align-items: center;
  margin: auto;
  font-family: Avenir;
  font-size: 14px;
}
.info {
  padding-top: 1rem;
  line-height: 20px;
}
.images {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.images img {
  width: 2rem;
}

@media only screen and (max-width: 992px) {
  .footer {
    overflow-y: hidden;
  }
}
